<app-header></app-header>
   
<main>
    <div class="container mx-auto p-4">
      <h1 class="text-2xl font-bold mb-4">Request List</h1>
      <div *ngIf="requests?.length; else noRequests" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let request of requests" class="bg-white p-4 rounded-lg shadow">
            <label>
                <div class="flex items-center mb-2">
                    <input 
                        type="checkbox" 
                        class="mr-2" 
                        (change)="toggleSelection(request)" 
                        [checked]="selectedRequests.includes(request)"
                    />
                    <h2 class="text-lg font-semibold">{{ request.title }}</h2>
                </div>
                <p class="text-gray-600 mb-2">{{ request.description }}</p>
                <p class="text-gray-800 font-bold mb-2">Price: ${{ request.price }}</p>
                <p class="text-gray-600 mb-2">Requester: {{ request.requesterName }}</p>
            </label>
            <div class="flex space-x-2 justify-end">
              <button 
                class="text-blue-500 hover:text-blue-700"
                [routerLink]="['/request', request.id]"
              >
                  view
              </button>
              <button 
                class="text-red-500 hover:text-red-700"
                (click)="deleteRequest(request.id)"
                >
                  delete
              </button>
          </div>
        </div>
          
      </div>
      <ng-template #noRequests>
        <p class="text-gray-600">No requests available.</p>
      </ng-template>
      
      <!-- Button to trigger PDF generation -->
      <div class="mt-4 text-center">
        <app-signature-pad
          #signaturePad
          (signatureSaved)="handleSignatureSaved($event)"
        ></app-signature-pad>
  
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
          (click)="openSignatureModal(signaturePad)"
        >
          Generate PDF
        </button>
      </div>
    </div>
  </main>
  